node_modules/
dist/
.vscode/

docs/memoria*.log
docs/memoria*.aux
docs/memoria*.toc
docs/memoria*.gz
docs/memoria*.blg
docs/memoria*.bcf
docs/memoria*.xml
docs/memoria*.lof

docs/proposta*.log
docs/proposta*.aux
docs/proposta*.toc
docs/proposta*.gz
docs/proposta*.blg
docs/proposta*.bcf
docs/proposta*.xml
docs/proposta*.lof
